.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  font-weight: 600;
}
.alarm {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: flex;
  border-radius: 20px;
  position: absolute;
  right: -6px;
}
.alarm_set {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 20px;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: -5px;
  top: -5px;
}
.badge-set {
  position: relative;
}
